@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.3) 0px -10px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

* {
    border-color: #000;
}

strong {
    font-weight: 600;
}

code {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 3px;
    padding: 2px 4px;
    font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
    font-size: .85em;
    font-weight: 500;
}

a {
    text-decoration: underline;
}